
   
    {% block content %}
    
    <div class="container">
         <form name="login" action="" method="post" novalidate>
        <fieldset class="form-group">
            <legend>{{title}}</legend>     
            {{ form.hidden_tag() }}       
                <p> {{ form.ssnid.label }}</br>
                    {{ form.ssnid }}
                    {% for error in form.ssnid.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.name.label }}</br>
                    {{ form.name }}
                    {% for error in form.name.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.age.label }}</br>
                    {{ form.age }}
                    {% for error in form.age.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                 <p> {{ form.address.label }}</br>
                    {{ form.address }}
                    {% for error in form.address.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p> {{ form.dateofadmit.label }}</br>
                    {{ form.dateofadmit }}
                    {% for error in form.dateofadmit.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p> {{ form.typeofbed.label }}</br>
                    {{ form.typeofbed }}
                    {% for error in form.typeofbed.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.city.label }}</br>
                    {{ form.city }}
                    {% for error in form.city.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.state.label }}</br>
                    {{ form.state }}
                    {% for error in form.state.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> 
                    {{ form.submit() }}
                </p>
            
        </fieldset>
        </form>
    </div>
    {% endblock %}